body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

main {
    flex: 1;
    /* max-width: 1600px;
    margin: 0 auto; */
}

.feature {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px white;
}

header {
    background-image: url("../imgs/header_bg.png");
    background-repeat: no-repeat;
    /* max-width: 1600px;
    margin: 0 auto; */
}

footer {
    color: white;
    background-color: rgb(20, 20, 20);
    /* max-width: 1600px;
    margin: 0 auto; */
}

.flex {
    display: flex;
}
.flex-v {
    display: flex;
    flex-direction: column;
}
.around {
    justify-content: space-around;
}
.between {
    justify-content: space-between;
}

.smart-car {
    background-image: url("../imgs/smart-car_bg.png");
    background-repeat: no-repeat;
}

.footer {
    max-width: 270px;
}
