li {
    list-style: none;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
}
.flex {
    display: flex;
}
.flex-v {
    display: flex;
    flex-direction: column;
}
.flex-fixed {
    flex: 1;
} 
.flex-wap {
    flex-wrap: wrap;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.around {
    justify-content: space-around;
}
.between {
    justify-content: space-between;
}
nav {
    flex: 0 0 100px;
    background-color: rgb(29, 37, 49);
}
#menu {
    flex: 0 0 250px;
    background-color: rgb(34, 44, 60);
    color: white;
    font-size: 70%;
    padding: 0 40px 0 40px;
}
#menu img {
    flex: 0 0 16px;
    width: 24px;
}
.item {
    margin: 10px 0 10px 0;
}
.item img {
    padding-right: 10px;
}
main {
    flex: 1 1 auto;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(239, 243, 246);
}
* {
    margin: 0;
    box-sizing: border-box;
}
header {
    flex: 0 0 80px;
    border-bottom: solid 1px lightgray;
}
.left {
    flex: 0 0 400px;
    overflow-y: auto;
}
.right {
    flex: 1 1 auto;
    overflow-y: auto;
}
.header {
    height: 70px;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
}
#tab {
    position: fixed;
    left: 20px;
    top: 20px;
}
#tab a {
    margin-bottom: 20px;
}
#set {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 60px;
}
.products {
    border-top: solid 1px lightgray;
}
.dashboard {
    border-top: solid 1px lightgray;
}
.menu-item {
    padding: 30px 0 30px 0;
}
.menu-item span {
    border: solid 1px red;
    border-radius: 50%;
    background-color: red;
    min-width: 20px;
    text-align: center;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.head {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    padding-right: 40px;
}
.head .status {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
header {
    padding: 0 40px 0 40px;
}
.role {
    padding-left: 20px;
}